#capa1, #capa2, #capa3, #capa4 {
  width: 200px;
  height: 100px;
  padding: 5px;
  border: solid 2px #0D6EFD;
  background: #8EBFFF;
  overflow: visible;
}
#capa2 {
  overflow: hidden;
}
#capa3 {
  overflow: scroll;
}
#capa4 {
  overflow: auto;
}
.div-c{
  margin: .5rem auto;
}


