/* Declaración de variables y globales */
:root {
  --shadow: #23272e;
  --bg: white;
  --texto-nav: white;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 62.5%;
  background-color: var(--bg);
  font-family: "Lato", sans-serif;
}
* {
  margin: 0;
}
h1 {
  font-size: 2rem;
}
a {
  font-size: 1.25rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
/* Header y nav */

header {
  height: 100vh;
  background-image: url("/página web/img/Imagen-header.jpg");
  background-position: center center;
  background-size: cover;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.container {
  text-shadow: 0 0 5px var(--shadow);
  color: var(--texto-nav);
  padding: 1.5rem 5%;
}
nav {
  display: flex;
}
nav a {
  color: var(--texto-nav);
  text-decoration: none;
  margin: auto 1rem;
}
nav a:hover {
  transition: 0.75s;
  color: crimson;
}

#historia {
  padding: 2.5rem 0;
  display: flex;
  justify-content: space-evenly;
  background-color: #292c3c;
  color: white;
  font-size: 1rem;
}
.texto{
  margin: 0 2.5rem;
  text-align: justify;
  width: 55%;
}
.texto h1{
  text-align: center;
  margin-bottom: 1.5rem;
}
.img-historia{
  width: 45%;
}
.img-historia img{
  padding: 50% auto;
}

/* slider */
.galeria {
  padding: 3rem 0;
  background-color: #8e9ce7;
}
.slider-form {
  width: 95%;
  margin-top: 40%;
}
.slider h1 {
  padding-bottom: 2rem;
}
.slider {
  text-align: center;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.slider ul {
  display: flex;
  animation: cambio 20s infinite alternate linear;
  width: 400%;
  padding: 0;
}
.slider li {
  width: 100%;
  list-style: none;
}
.slider img {
  width: 100%;
  padding: 0;
  margin: 0;
}
@keyframes cambio {
  0% {
    margin-left: 0%;
  }
  20% {
    margin-left: 0%;
  }
  30% {
    margin-left: -100%;
  }
  50% {
    margin-left: -100%;
  }
  60% {
    margin-left: -200%;
  }
  80% {
    margin-left: -200%;
  }
  90% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

/* Efectos */
.efectos {
  margin: 3rem auto;
  padding: 1.5rem 0;
  align-items: center;
  width: 130vh;
  text-align: center;
}
.efectos p {
  text-align: justify;
  font-size: 1rem;
  margin: 1rem 0;
}
.container-galeria {
  width: 100%;
}
.row {
  margin: 2rem 0;
  display: flex;
  justify-content: space-evenly;
}
.card-galeria {
  background-color: lightgray;
  padding: 2rem 2rem;
  width: 20rem;
  height: 16rem;
  border-radius: 0.5rem;
}
.card-galeria img {
  width: 100%;
  height: auto;
  padding: 0;
  border-radius: 1rem;
}
