/* Declaración de variables y globales */
:root {
  --bg: #252e35;
  --shadow: #1e2227;
  --texto-nav: white;
  --nav: #191f25;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 62.5%;
  background-color: var(--bg);
  font-family: "Lato", sans-serif;
}
* {
  margin: 0;
}
h1 {
  font-size: 2rem;
}
a {
  font-size: 1.25rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
/* Header y nav */

#header-p {
  height: 100vh;
  background-image: url("/página web/img/Imagen-header.jpg");
  background-position: center center;
  background-size: cover;
}
.header-s{
  height: 12.5vh;
  background-color: var(--nav);
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.container {
  text-shadow: 0 0 5px var(--shadow);
  color: var(--texto-nav);
  padding: 1.5rem 5%;
}
nav {
  display: flex;
}
nav a {
  color: var(--texto-nav);
  text-decoration: none;
  margin: auto 1rem;
}
nav a:hover {
  transition: .855s;
  color: crimson;
}

#historia {
  padding: 2.5rem 0;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--bg);
  color: white;
  font-size: 1rem;
}
.texto {
  color: white;
  margin: 0 2.5rem;
  text-align: justify;
  width: 55%;
}
.texto h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}
.img-historia {
  width: 45%;
}
.img-historia img {
  width: 92.5%;
}

/* slider */
.galeria {
  padding: 3rem 0;
  background-color: #8e9ce7;
}
.slider-form {
  width: 95%;
  margin-top: 40%;
}
.slider h1 {
  padding-bottom: 2rem;
}
.slider {
  text-align: center;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.slider ul {
  display: flex;
  animation: cambio 20s infinite alternate linear;
  width: 400%;
  padding: 0;
}
.slider li {
  width: 100%;
  list-style: none;
}
.slider img {
  width: 100%;
  padding: 0;
  margin: 0;
}
@keyframes cambio {
  0% {
    margin-left: 0%;
  }
  20% {
    margin-left: 0%;
  }
  30% {
    margin-left: -100%;
  }
  50% {
    margin-left: -100%;
  }
  60% {
    margin-left: -200%;
  }
  80% {
    margin-left: -200%;
  }
  90% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

/* Efectos */
.efectos {
  margin: 3rem auto 0 auto;
  padding: 1.5rem 0;
  align-items: center;
  width: 130vh;
  text-align: center;
}
.efectos p {
  text-align: justify;
  font-size: 1rem;
  margin: 1rem 0;
}
.container-galeria {
  width: 100%;
}
.row {
  margin: 2rem 0;
  display: flex;
  justify-content: space-evenly;
}

.card-galeria {
  box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 rgba(0, 0, 0, 19);
  text-align: center;
  background-color: white;
  width: 25rem;
  height: 15rem;
  transition: 0.5s;
  margin: 1rem 0;
}
.card-galeria img {
  width: 100%;
  height: auto;
  padding: 0;
}
.card-galeria h3 {
  font-size: 1.25rem;
  margin: 1.5rem 0;
}
.card-galeria:hover {
  transform: scale(1.1);
}

 body .arrows {
	 position: relative;
	/**/
	 top: 60%;
	 left: 50%;
	 width: 80px;
	/**/
	 height: 80px;
	 transform: translate(-50%, -50%);
}
 body .arrows:after {
	 content: '';
	 position: absolute;
	 width: 75%;
	 height: 75%;
	 border-left: 26.6666666667px solid rgba(255, 255, 255, 1);
	 border-bottom: 26.6666666667px solid rgba(255, 255, 255, 1);
	 transform: translate(53.3333333333px, 0px) rotate(-45deg);
	 animation: arrows 2.25s linear infinite -1.5s;
}
 @keyframes arrows {
	 0% {
		 border-left: 26.6666666667px solid rgba(0, 0, 0, 0);
		 border-bottom: 26.6666666667px solid rgba(0, 0, 0, 0);
		 transform: translate(-13.3333333333px, -53.3333333333px) rotate(-45deg);
	}
	 10%, 90% {
		 border-left: 26.6666666667px solid rgba(0, 0, 0, 0);
		 border-bottom: 26.6666666667px solid rgba(0, 0, 0, 0);
	}
	 50% {
		 border-left: 26.6666666667px solid rgba(255, 255, 255, .85);
		 border-bottom: 26.6666666667px solid rgba(255, 255, 255, .85);
		 transform: translate(-13.3333333333px, 0px) rotate(-45deg);
	}
	 100% {
		 border-left: 26.6666666667px solid rgba(0, 0, 0, 0);
		 border-bottom: 26.6666666667px solid rgba(0, 0, 0, 0);
		 transform: translate(-13.3333333333px, 53.3333333333px) rotate(-45deg);
	}
}

.bg-t{
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
}
.texto-2{
  margin: 0 2.5rem;
  text-align: justify;
  width: 55%;
}
.e1{
  padding: 2.5rem 0;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--bg);
  color: white;
  font-size: 1rem;
}
.e2{
  padding: 2.5rem 0;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  color: var(--bg);
  font-size: 1rem;
}
.img-efectos {
  width: 45%;
}
.img-efectos img{
  margin: 2rem 2rem;
  width: 85%;
}
.efectos{
  width: 100%;
}
.efectos h1{
  margin-bottom: 1.5rem;
}
.container-img{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .5s ease-in;
  z-index: 99;
}
.move{
  transform: translateX(0);
}
.container-img i{
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
}
.container-img img{
  width: 55%;
}
.copy{
  position: fixed;
  font-size: 1.25rem;
  color: #fff;
  bottom: 40px;
}